body { /*michael lake*/
	margin: 0;
	padding: 0;
	width: 650px;
 	margin: 0 auto;
	text-align: center;
	border: 5px solid black;
}

.cat_img{
	border-radius: 50%;
	border-color: black;
	width: 60%;
	height: auto;
	margin-top: 10px;
}

p{
	word-wrap: break-word;
	text-align: justify;
	margin-left: 25px;
	width: 600px;
	font-family: serif;
	font-weight: 200;
}

h2{
	text-decoration: underline;
}


